@import url(variables.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.caja-principal {
    
}

.caja-principal__imagen {
    
}

.caja-principal__contenido1 {
    
}

.caja-principal__contenido2 {
    
}

.caja-principal__contenido3 {
    
}