:root{
    --color-primario: #FFFFFF;
    --color-negro: #252525;
}

@font-face {
    font-family: "Avenir-roman";
    src: url(../storage/font/Avenir/AvenirLTStd-Roman.otf) format(truetype);
}
@font-face {
    font-family: "Avenir-black";
    src: url(../storage/font/Avenir/AvenirLTStd-Black.otf) format(truetype);
}

